<script setup>
import { reactive, ref, getCurrentInstance } from 'vue'
import InputNew from './InputNew.vue'

let id = 0

let boards = reactive([
  {
    id: useUid(),
    name: 'tablero 1',
    items: [
      {
        id: useUid(),
        title: 'Feature de archivos'
      },
      {
        id: useUid(),
        title: 'Resolver bugs'
      }
    ]
  },
  {
    id: useUid(),
    name: 'tablero 2',
    items: [
      {
        id: useUid(),
        title: 'Enviar informe'
      },
      {
        id: useUid(),
        title: 'Revisar código'
      }
    ]
  }
])

function handleNewItem(text, board) {
  board.items.push({
    id: useUid(),
    title: text.value
  })
}

function handelNewBoard() {
  const name = prompt('name of the new board')
  if (!!name) {
    boards.push({
      id: useUid(),
      name: name,
      items: []
    })
  }
}

function startDrag(evt, board, item) {
  evt.dataTransfer.setData('text/plain', JSON.stringify({ boardId: board.id, itemId: item.id }))
}

function onDrop(evt, dest) {
  const { boardId, itemId } = JSON.parse(evt.dataTransfer.getData('text/plain'))

  const originBoard = boards.find((item) => item.id == boardId)
  const originItem = originBoard.items.find((item) => item.id == itemId)

  dest.items.push({ ...originItem })
  originBoard.items = originBoard.items.filter((item) => item !== originItem)
}

function useUid() {
  return String(id++)
}
</script>

<template>
  <nav>
    <ul>
      <li>
        <a href="#" @click.prevent="handelNewBoard">Create board </a>
      </li>
    </ul>
  </nav>

  <div class="boards-containers">
    <div class="boards">
      <div
        class="board"
        @drop="onDrop($event, board)"
        @dragover.prevent
        @dragenter.prevent
        v-for="board in boards"
        :key="board.id"
      >
        <div>{{ board.name }}</div>
        <InputNew @on-new-item="(text) => handleNewItem(text, board)"></InputNew>
        <div class="items">
          <div
            class="item"
            draggable="true"
            @dragstart="startDrag($event, board, item)"
            v-for="item in board.items"
            :key="item.id"
          >
            {{ item.title }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
nav {
  background-color: black;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}
.boards {
  display: flex;
  gap: 10px;
}

.board {
  background-color: #efefef;
  padding: 10px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.item {
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
}
</style>
